<div class="col-sm-12">
	<div id="message-form-container">
		<%= bootstrap_form_for(:message, :url => '/messages/') do |f| %>
			<%= f.hidden_field :user_id, value: session[:user_id] %>
			<%= f.text_area :content, hide_label: true, placeholder: "What's on your mind?", rows: 5 %>
			<%= f.submit "Post", class: "btn btn-default btn-lg btn-block" %>
		<% end %>
	</div>
	<div id="messages-container">
		<ul>
			<% @messages.each do |m| %>
				<li>
					<h4><%= m.first_name %> <%= m.last_name %> - <%= m.updated_at %></h4>
					<p><%= m.content %></p>
					<ul class="comment-container">
						<% @comments = Comment.select('comments.*, users.first_name, users.last_name').joins(:user).where(message: Message.find(m.id)) %>
						<% @comments.each do |c| %>
						<li>
							<h4><%= c.first_name %> <%= c.last_name %> - <%= c.updated_at %></h4>
							<p><%= c.content %></p>
						</li>
						<% end %>
						<div class="comment-form-container">
							<%= bootstrap_form_for(:comment, :url => '/comments/') do |f| %>
								<%= f.hidden_field :user_id, value: session[:user_id] %>
								<%= f.hidden_field :message_id, value: m.id %>
								<%= f.text_area :content, hide_label: true, placeholder: "Something to add?", rows: 5 %>
								<%= f.submit "Comment", class: "btn btn-default btn-lg btn-block" %>
							<% end %>
		
						</div>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
</div>