<div class="row">
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<h1>The Wall Redux</h1>
		<p>A place for interesting ideas. Come and share your thoughts with the world.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<p class="bg-danger bg-errors"><%= error %></p>
			<% end %>
		<% end %>
		<%= bootstrap_form_for(@user) do |f| %>
		  <%= f.text_field :first_name, hide_label: true, placeholder: "First Name", class: "input-lg" %>
		  <%= f.text_field :last_name, hide_label: true, placeholder: "Last Name", class: "input-lg" %>
		  <%= f.email_field :email, hide_label: true, placeholder: "Email", class: "input-lg" %>
		  <%= f.password_field :password, hide_label: true, placeholder: "Password", class: "input-lg" %>
		  <%= f.password_field :password_confirmation, hide_label: true, placeholder: "Confirm Password", class: "input-lg" %>
		  <%= f.submit "Sign Up", class: "btn btn-primary btn-lg btn-block" %>
		<% end %>

	</div>
</div>